body {
  background-color: #5390d9;
  font-family: "Nunito", sans-serif;
}

#mainNav .navbar-brand {
  color: #56cfe1;
}

#mainNav {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNav .nav-link {
  color: white;
}

#mainNav .nav-link:hover {
  color: #56cfe1;
}

.navbar.scrolled {
  background-color: #72efdd;
  transition: background 300ms;
}

p {
  margin-top: 100px;
}
